
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&family=Righteous&display=swap');
  h1{
    color: #40798C;
    font-family: 'Righteous';
    font-size: 32pt

  }
  h2{
    color: #40798C;
    font-family: 'Red Hat Display';
    padding-left: 50px;
  }
  label{
    color: #40798C;
    font-family: 'Red Hat Display';
    padding-left: 50px;
    font-weight:900px;
    font-size: 15px;
  }
  p{
    color: #40798C;
    font-family: 'Red Hat Display';
    padding-left: 50px;
    font-weight:900px;
    font-size: 15px;
  }
  body {
    background-color: #f8f7f1;
  }
  input{
    padding: 2px;
    margin-left: 7px;
    border: 0.5px solid #77A6B6;
    border-radius:4px;
    font-family: 'Red Hat Display';
    font-size: 14px;
    color: #40798C;
  }
  select{
    padding: 2px;
    margin-left: 7px;
    border: 0.5px solid #77A6B6;
    border-radius:4px;
    font-family: 'Red Hat Display';
    font-size: 14px;
    color: #40798C;
    background-color: #f8f7f1;
  }
  .header {
    position: fixed; 
    left:0px;
    top:-25px;
    width:100%;
    height:83px;
    /* top: -28px; */
    background: #CFD7C7;
    color: #40798C;
    /* margin: 0 -1em;
    height: 50px; */
  }
  button {
    min-width: 50px;
    padding: 7px 7px 7px;
    font-size: 14px;
    font-weight:900px;
    line-height: 1;
    border-radius: 200px;
    font-family: 'Red Hat Display';
    letter-spacing: 2px;
    text-align: center;
    height: 50px;
    position:relative; 
    top:50%;
  }
  .button_header {
    background-color: #f8f7f1;
    color: #40798C;
    border: 2px solid #CFD7C7;
    float: right;
    position:relative; 
    top:50%;
  }
  .button_header:hover {
    background-color: #CFD7C7;
    color: #f8f7f1;
  }
  .button_register {
    background-color: #f8f7f1;
    color: #40798C;
    border: 2px solid #CFD7C7;
    left: 30%
  }
  .button_register:hover {
    background-color: #CFD7C7;
    color: #f8f7f1;
  }
  .container {
    position: relative;
    text-align: center;
    color: #40798C;
  }
/* Centered text */
  .centered {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #40798C;
    font-family: 'Righteous';
    font-weight:900px;
    font-size: 72px;
  }
  .boxed_l {
    background-color: #9dc3c2;
    position:fixed;
    top: 50%;
    left:10%;
    opacity: 0.4;
    height: 300px;
    width: 300px;
    color: #011638;
    font-family: 'Red Hat Display';
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    border-radius:30px;
    font-weight:bold;
  }
  .boxed_m {
    background-color: #9dc3c2;
    position: fixed;
    top: 50%;
    left: 40%;
    opacity: 0.4;
    height: 300px;
    width: 300px;
    color: #4D7298;
    font-family: 'Red Hat Display';
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    line-height: 0.8;
    border-radius:30px;
  }
  .boxed_r {
    background-color: #9dc3c2;
    position: fixed;
    top: 50%;
    left:70%;
    opacity: 0.4;
    height: 300px;
    width: 300px;
    color: #4D7298;
    font-family: 'Red Hat Display';
    text-align: center;
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:25px;
    border-radius:30px;
}
.boxed_c {
  background-color: #CFD7C7;
  position: fixed;
  top: 100px;
  left: 34%;
  opacity: 0.5;
  height: 550px;
  width: 450px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius:30px;
}
.body_frontpage{
  opacity:0.2;
  /* position:absolute; */
  position: fixed;
  left:-5px;
  top:57.5px;
  width:100%;
  height:auto;
  background: no-repeat;
}
